body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #2E2E2E;
    margin: 0;
    padding: 20px;
}

.game-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:300px
}

.game-details h1{
    color: rgb(236, 236, 236);
}

.game-details h2{
    color: rgb(158, 126, 126);
}

.back-bnt{
    position: absolute;
    top: 24px;
    left: 200px;
    border: none;
    background: none;
    cursor: pointer;
}

.back-bnt img{
    width: 70px;
    height: 70px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Pasirinkti vienodą plotį visoms stulpeliams */
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    background-color: #2E2E2E;
    position: absolute; /* Naudojame absoliučią padėtį */
    top: 100px; /* Nustatykite pagal pageidaujamą vietą */
    left: 701px; /* Nustatykite pagal pageidaujamą vietą */
    z-index: 0; /* Padėkite po kitais elementais */
   
}

.game-board div {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #444;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Pasirinkti vienodą plotį visoms stulpeliams */
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    background-color: #2E2E2E;

}

.grid div {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #444;
}

/* .pieces {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.piece {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    
} */


/* .pieces {
    position: absolute;
    margin-top: 30px;
    display: flex;
    gap: 20px;
} */

.piece-1 {
    position: absolute; 
    /* top: 650px;
    left: 700px; */

}
.piece-2 {
    position: absolute; 
    /* top: 650px;
    left: 880px; */
}
.piece-3 {
    position: absolute; 
    /* top: 650px;
    left: 1080px; */
}

.grid div {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #444; /* Pradinė spalva */
    position: relative; /* Padės animacijoms */
    transition: background-color 0.5s ease; /* Pakeitimas tik spalvos animacijai */
}



@keyframes fadeOut {
    0% {
       
        transform: scale(1); /* Pradinė dydžio vertė */
    }
    40% {
        
        transform: scale(0.8); /* Sumažėjimas iki 80% */
    }
    60% {
        
        transform: scale(0.6); /* Toliau mažinkite dydį */
    }
    80% {
      
        transform: scale(0.3); /* Dydis sumažėja iki 30% */
    }
    100% {
        background-color: transparent; /* Spalva išnyksta */
        opacity: 0; /* Paslėpta būsena */
        transform: scale(0); /* Susitraukia iki 0 */
    }
}


.fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;

}