body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.man-for-hang img{
    width: 200px;
    height: 200px;
    margin: 50px 0;
}

.back-bnt{
    position: absolute;
    top: 24px;
    left: 200px;
    border: none;
    background: none;
    cursor: pointer;
}

.back-bnt img{
    width: 70px;
    height: 70px;
}

.card {
    width:30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
    background-color: #333; 
    cursor: pointer;
    margin: 3px; 
}

.alphabet-row {
    display: flex;
    justify-content: center;

}

.card.used {
    visibility: hidden;
}

.card.disabled {
    opacity: 0.5; 
    pointer-events: none; 
}


.guess-word {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.word-char-card {
    margin: 0 10px;
    font-size: 16px;
    border-bottom: 2px solid #333;
    width: 25px;
    height: 55px;
    text-align: center;
}

.word-char-card .wordChar{
    visibility: hidden;
}

.wordChar.guessed{
    visibility: visible;
}

#play-again{
    margin: 40px;
    cursor: pointer;
    border: 0px solid rgb(56, 127, 57);
    font-family: "system-ui";
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    transition: 1951ms;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 16px;
    background: linear-gradient(89deg, rgb(162, 202, 113) 28%, rgb(190, 220, 116) 100%);
    font-weight: 800;
    --hover-width: 200px;
    --hover-bgc: #a2ca71;
    --hover-borderSize: 0px;
    --hover-color: #ffffff;
    visibility: hidden;
}

#play-again:active {
    transform: scale(0.95); 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px; 
}